.circle{
		width: 50px;
		height: 50px;
		background-color: yellow;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		box-shadow: 0px 0px 4px 2px #DDDDDD;
		overflow: hidden;
	}

	.headimg{
		width: 50px;
	}

	.triangle_down{
		width: 0px;
		height: 0px;
		border-top: 10px solid white;
		border-right: 10px solid transparent;
		border-left:  10px solid transparent;
		/*background-color: white;*/
	}

	.textbox{
		/*width: 200px;*/
		/*height: 145px;*/
		background-color: white;
		border-radius: 5px;
		box-shadow: 0px 0px 20px 5px #888888;
	}

	.text{
		/*width: 160px;*/
		/*height: 125px;*/
		margin: 0;
		position: relative;
		left: 20px;
		top: 10px;
		font-size: small;
	}

	.overlay{
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
	}

	.bottom_btn{
		position: absolute;
		bottom: 20px;
		right: 20px;
		display:flex !important;/*Flex布局*/
    	display: -webkit-flex; /* Safari */
    	align-items: center;/*指定垂直居中*/
    	flex-direction: column;
	}

	.post_btn{
		position: absolute;
	}

	.material-icons.md-18 { font-size: 18px; }
	.material-icons.md-24 { font-size: 24px; }
	.material-icons.md-36 { font-size: 36px; }
	.material-icons.md-48 { font-size: 48px; }
	.material-icons.md-blue { 
		overflow: hidden; 
		color: #3498DB;
		background-color: white;
		border-radius: 50%;
		margin-bottom: 10px;
		box-shadow: 0px 0px 4px 2px #DDDDDD;
	}

	.base {
  height: 9em;
  left: 50%;
  margin: -7.5em;
  padding: 3em;
  /*position: absolute;*/
  top: 50%;
  width: 9em;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.cube,
.cube:after,
.cube:before {
  content: '';
  float: left;
  height: 3em;
  position: absolute;
  width: 3em;
}

/* Top */
.cube {
  background-color: #f0dd84;
  position: relative;
  transform: translateZ(3em);
  transform-style: preserve-3d;
  transition: .25s;
  box-shadow: 1em 1em 1.5em rgba(0, 0, 0, 0.1);
  animation: anim 1s infinite;
}
.cube:after {
  background-color: #f7eaaa;
  transform: rotateX(-90deg) translateY(3em);
  transform-origin: 100% 100%;
}
.cube:before {
  background-color: #ccb12e;
  transform: rotateY(90deg) translateX(3em);
  transform-origin: 100% 0;
}
.cube:nth-child(1) {
  animation-delay: 0.05s;
}
.cube:nth-child(2) {
  animation-delay: 0.1s;
}
.cube:nth-child(3) {
  animation-delay: 0.15s;
}
.cube:nth-child(4) {
  animation-delay: 0.2s;
}
.cube:nth-child(5) {
  animation-delay: 0.25s;
}
.cube:nth-child(6) {
  animation-delay: 0.3s;
}
.cube:nth-child(7) {
  animation-delay: 0.35s;
}
.cube:nth-child(8) {
  animation-delay: 0.4s;
}
.cube:nth-child(9) {
  animation-delay: 0.45s;
}

@keyframes anim {
  50% {
    transform: translateZ(0.5em);
  }
}
