.circle{
	width: 50px;
	height: 50px;
	background-color: yellow;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0px 0px 4px 2px #DDDDDD;
	overflow: hidden;
}

.circle-small{
	width: 25px !important;
	height: 25px;
	background-color: yellow;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0px 0px 4px 2px #DDDDDD;
	overflow: hidden;
}

.myPoint{
	width: 20px !important;
	height: 20px;
	position: absolute;
	
	background-color: #3498DB;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	box-shadow: 0px 0px 4px 2px #DDDDDD;
	overflow: hidden;
	border: 4px solid white;
}


.headimg{
	width: 100%;
}

.triangle_down{
	width: 0px;
	height: 0px;
	border-top: 10px solid white;
	border-right: 10px solid transparent;
	border-left:  10px solid transparent;
	/*background-color: white;*/
}

.controlbox{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 20px;
	width: 100%;
	/* background-color: rgb(179, 86, 129); */

}

.passagebox{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
}

.userbox{
	margin-top: 5px;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.username{
	margin-left: 10px;
}

.guide-bar{
	z-index: 40; 
	height: 48px; 
	width: 100%; 
	background-color: #3498D8; 
	top: 0px; 
	position:absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text{
	/*width: 160px;*/
	/*height: 125px;*/
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 10px;
	height: 80px;
	overflow: hidden;
}

.overlay{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 120;
}

.bottom_btn{
	position: absolute;
	bottom: 40px;
	right: 20px;
	display:flex !important;/*Flex布局*/
	display: -webkit-flex; /* Safari */
	align-items: center;/*指定垂直居中*/
	flex-direction: column;
}

.post_btn{
	position: absolute;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-26 { font-size: 26px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-blue { 
	width: 48px;
	height: 48px;
	overflow: hidden; 
	color: #3498DB;
	background-color: white;
	border-radius: 50%;
	margin-bottom: 15px;
	box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.261);
}

.material-icons.md-blue2 { 
	overflow: hidden; 
	color: white;
	background-color:transparent;
	border-radius: 50%;
	height: 26px;
	width: 26px;
	margin: 0px;
}

.iconholder{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 15px;
	box-shadow: 0px 15px 25px 2px rgba(0, 0, 0, 0.261);
	background-color: #3498DB;
	border: 4px solid snow;
}

.base {
  height: 9em;
  left: 50%;
  margin: -7.5em;
  padding: 3em;
  /*position: absolute;*/
  top: 50%;
  width: 9em;
  transform: rotateX(45deg) rotateZ(45deg);
  transform-style: preserve-3d;
}

.cube,
.cube:after,
.cube:before {
  content: '';
  float: left;
  height: 3em;
  position: absolute;
  width: 3em;
}

/* Top */
.cube {
  background-color: #f0dd84;
  position: relative;
  transform: translateZ(3em);
  transform-style: preserve-3d;
  transition: .25s;
  box-shadow: 1em 1em 1.5em rgba(0, 0, 0, 0.1);
  animation: anim 1s infinite;
}
.cube:after {
  background-color: #f7eaaa;
  transform: rotateX(-90deg) translateY(3em);
  transform-origin: 100% 100%;
}
.cube:before {
  background-color: #ccb12e;
  transform: rotateY(90deg) translateX(3em);
  transform-origin: 100% 0;
}
.cube:nth-child(1) {
  animation-delay: 0.05s;
}
.cube:nth-child(2) {
  animation-delay: 0.1s;
}
.cube:nth-child(3) {
  animation-delay: 0.15s;
}
.cube:nth-child(4) {
  animation-delay: 0.2s;
}
.cube:nth-child(5) {
  animation-delay: 0.25s;
}
.cube:nth-child(6) {
  animation-delay: 0.3s;
}
.cube:nth-child(7) {
  animation-delay: 0.35s;
}
.cube:nth-child(8) {
  animation-delay: 0.4s;
}
.cube:nth-child(9) {
  animation-delay: 0.45s;
}

@keyframes anim {
  50% {
    transform: translateZ(0.5em);
  }
}


.md-shadow-FAB-restingState{
	box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.165) !important;
	
}

.md-shadow-FAB-restingState:hover{
	box-shadow: 0px 12px 16px 2px rgba(50, 50, 50, 0.165) !important;
	
}

.md-shadow-FAB-pressedState{
	box-shadow: 0px 12px 12px 12px rgba(0, 0, 0, 0.165) !important;
}

.md-shadow-card-restingState{
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.165) !important;
}

.md-shadow-card-raisedState{
	box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.165) !important;
}

.md-shadow-menu{
	box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.165) !important;
}

.md-shadow-submenu{
	box-shadow: 0px 9px 9px 9px rgba(0, 0, 0, 0.165) !important;
}

.md-shadow-dialogs{
	box-shadow: 0px 24px 24px 5px rgba(0, 0, 0, 0.226) !important;
}

.md-shadow-drawer{
	box-shadow: 0px 16px 16px 16px rgba(0, 0, 0, 0.165) !important;
}

.md-shaodw-nav{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.loading{
	animation: loadingAnime 0.5s infinite;
	animation-direction: alternate;
}

@keyframes loadingAnime
{
from {color: #3498DB;}
to {color: rgb(255, 255, 255);}
}

span{
	font-size: 14px;
	background-color: rgb(255, 255, 255);
	position: relative;
	top: -6px;
	margin-right: 5px;
	border-radius: 10%;
}

.icon-name-div{
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.dialog-window{
	justify-content: flex-start;
	flex-direction: column;
}

.dialog-screen{
	margin-top: 100px;
	width: 80%;
	height: 220px;
	background-color: white;
	border-radius: 2px;
}

.dialog-userbox{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.dialog-headimgbox{
	margin: 10px;
}

.dialog-passagebox{
	overflow: hidden;
	margin: 10px;
	margin-top: 0px;
}

.dialog-passage{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100px;
	margin: 0px;
}

.dialog-username{
	margin: 0px;
}

.anchorBL{
	visibility: hidden !important;
}