.circle{
		width: 50px;
		height: 50px;
		background-color: yellow;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		box-shadow: 0px 0px 4px 2px #DDDDDD;
		overflow: hidden;
	}

	.headimg{
		width: 50px;
	}

	.triangle_down{
		width: 0px;
		height: 0px;
		border-top: 10px solid white;
		border-right: 10px solid transparent;
		border-left:  10px solid transparent;
		/*background-color: white;*/
	}

	.textbox{
		/*width: 200px;*/
		/*height: 145px;*/
		background-color: white;
		border-radius: 5px;
		box-shadow: 0px 0px 20px 5px #888888;
	}

	.text{
		/*width: 160px;*/
		/*height: 125px;*/
		margin: 0;
		position: relative;
		left: 20px;
		top: 10px;
		font-size: small;
	}

	.overlay{
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
	}

	.bottom_btn{
		position: absolute;
		bottom: 20px;
		right: 20px;
		display:flex !important;/*Flex布局*/
    	display: -webkit-flex; /* Safari */
    	align-items: center;/*指定垂直居中*/
    	flex-direction: column;
	}

	.post_btn{
		position: absolute;
	}

	.material-icons.md-18 { font-size: 18px; }
	.material-icons.md-24 { font-size: 24px; }
	.material-icons.md-36 { font-size: 36px; }
	.material-icons.md-48 { font-size: 48px; }
	.material-icons.md-blue { 
		overflow: hidden; 
		color: #3498DB;
		background-color: white;
		border-radius: 50%;
		margin-bottom: 10px;
		box-shadow: 0px 0px 4px 2px #DDDDDD;
	}