.user-window {
    margin: 20px auto !important;
    width: 300px !important;
    height: 340px !important;
}
.user-screen {
    background-color: #FFF;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	height: 360px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	position: absolute;
	top: 50%;
}

